:host {
    width: clamp(200px, 25%, 300px);
}

aside {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    position: relative;
    padding: 16px;
    --md-elevation-level: 5;

    form {
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        row-gap: 32px;

        .filter-section {
            display: flex;
            flex-direction: column;
            row-gap: 8px;

            .section-label {
                display: flex;
                flex-direction: column;

            };
            .brand-list, .price-range {
                display: flex;
                flex-direction: column;
                row-gap: 8px;
                border: none;
            }

            .brand-list > label {
                display: flex;
                align-items: center;
                height: 24px;
            }

                
        }

        .filter-controls {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
        }
    }

}